/*-------------------------------------------
共通
-------------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #f0f0f0;
    color: #000;
    font-size: 0.875rem;
    font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a:hover, button:hover{
    opacity: 0.5;
    transition: 0.4s;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

li {
    list-style: none;
}

address{
    font-style: normal;
}

header,
.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo,
.footer__logo {
    max-width: 100px;
}

h1{
    margin: 0;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto 120px;
}

.title {
    font-weight: normal;
    position: relative;
}

.title::after {
    content: '';
    width: 40px;
    height: 1px;
    display: inline-block;
    background-color: #000;
    position: absolute;

}

.title a {
    display: flex;
    flex-direction: column;
}

.en {
    font-size: 2.25rem;
    letter-spacing: 0.675rem;
}

.ja {
    font-size: 0.875rem;
    padding-bottom: 36px;
}

/*-------------------------------------------
header
-------------------------------------------*/

header{
    height: 10vh;
}

.header__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

.header__logo{
    margin-right: 60px;
}

.header__menu ul{
    display: flex;
    justify-content: space-between;
}

.header__menu li{
    margin-right: 30px;
}

.header__menu li:last-of-type{
    margin-right: 0;
}

.header__contact{
    background-color: #000;
    padding: 30px 65px;
    height: 10vh;
    display: flex;
    align-items: center;
}

.header__contact a{
    color: #fff;
}

/*-------------------------------------------
main
-------------------------------------------*/

.main-visual{
    width: 100vw;
    height: 90vh;
    margin-bottom: 120px;
}

.main-visual img{
    height: 100%;
}

.news__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.news__item{
    border-left: #000 solid 1px;
    margin-right: 79px;
    padding-left: 20px;
}

.news__item:first-child{
    border-left: none;
}

.news__item span{
    line-height: 1.25rem;
    display: inline-block;
}

.news__date{
    margin-right: 10px;
}

.news__tag{
    font-size: 0.75rem;
    background-color: #000;
    color: #fff;
    padding: 0 6px;
}

.news__text{
    margin-top: 16px;
}

.about{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.about__title{
    margin-bottom: 50px;
}

.about__image{
    flex: 7;
}

.about__text{
    flex: 3;
    padding: 180px 5% 0;
    align-self: center;
}

.about__image img{
    height: 400px;
    object-fit: cover;
}

.about__description{
    line-height: 30.8px;
}

.business__container{
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 0 100px;
}

.business__left{
    margin-top: 150px;
}

.business__right{
    margin-top: 50px;
}

.business__card:nth-child(odd) {
    margin-bottom: 50px;
}

.business__card h3{
    margin-bottom: 10px;
}

.business__card span{
    margin-right: 10px;
}

.company{
    margin-bottom: 128px;
}

.company__list{
    margin-top: 50px;
}

.company__list-item{
    display: flex;
    margin-bottom: 10px;
}

.company__list-item dt{
    flex: 15%;
}

.company__list-item dd,
.company__column-item{
    flex: 85%;
}

.company__column-item dd{
    margin-bottom: 10px;
}

.company__column-item dd:last-child{
    margin-bottom: 0;
}

.company__image img{
    height: 400px;
}

.company__container {
    width: 70%;
    background-color: #fff;
    padding: 100px 50px;
    position: relative;
}

.company__image {
    position: absolute;
    top: 25%;
    left: 80%;
    width: 80%;
    height: 400px;
}


/*-------------------------------------------
footer
-------------------------------------------*/

footer{
    background-color: #fff;
}

.footer__wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.footer__info{
    padding: 40px 0;
}

.footer__copy{
    padding-bottom: 20px;
    font-size: 0.625rem;
}

/*-------------------------------------------
完成後削除
-------------------------------------------*/

/* body{
    background-color: aqua;
}

header{
    background-color: bisque;
} */
